// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a{
	&:hover {
		color: #81A8B8 !important;	
		text-decoration: none !important;
		background: none !important;	
	}
	a:visited, a:link, a:active {
		color: #A4BCC2;
	}
}

#login {
	color: #A4BCC2 !important;
	line-height: 52px;

	img{
		height: 3.2em;
		width: 3.2em;
		margin: 0.5em;
		float: left;
	}
	h5{
		float: left;
	}
	span{
		padding-left: 6px;
	}
}

.glyphicon {
	font-size: 1.4em;


}

.home {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 32px;
	color: #A4BCC2 !important;

	&:hover {
		color: #81A8B8 !important;		
	}
}