<ul class='navbar navbar-default' role='navigation'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle' data-toggle'collapse' data-target='#navbar-collapse'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <%= link_to 'linkeep.it', root_path, class:'navbar-brand home' %>
    </div>
    <div class='collapse navbar-collapse' id='navbar-collapse'>
      <ul class='nav navbar-nav'>
        <li><%= link_to 'Links', links_path %></li>
      </ul>
      <%= render 'login' %>
    </div>
  </div>
</ul>
