<% if notice.present? %>
  <div class="alert alert-info" role="alert" id='notice'>
    <%= notice %>
  </div>
<% end %>

<% if alert.present? %>
  <div class="alert alert-danger" role="alert" id='alert'>
    <%= alert %>
  </div>
<% end %>
